<!--Aside-->
<aside id="aside" role="sidebar" class="text-center" style="background-image: url(images/cover.png);"></aside>
<!--Navbar-->  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3074E3;">
    <a class="navbar-brand" href="/">
        <img src="images/slamball.png" width="40" height="40" alt="" loading="lazy">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/schedules">Schedules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/scores">Scores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="news.html">News</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Leagues
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">WNBA</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">NBA G League</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">NBA 2K League</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
<div id="main-content">
 <div class="dtc js-dtc">
  <div class="row">
    <div class="col">
        <img id="logo-cover" src="images/slamlogo.png" alt="logo" width="260px" height="300px">
           <div class="row">
             <div class="col-lg-10">
                <div class="animate-box">
                   <h2 id="taglineh2">NBA Leagues at your fingertips</h2>
                   <p id="taglinep">Games | Schedules | Scores | News</p>
              </div>
           </div>
        </div>
      </div>
   </div>
</div> 


